body{
    background-color: black;
 
}

main{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.img{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 0;
    transition: opacity 0.1s ease, filter 0.1s ease;
    pointer-events: none;
}

#logo{
    max-width: 50vw;
    height: auto;
}

.Creadores{
    margin: 20px;
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Creadores h2{
    display: flex;
    position: relative;
    justify-self: center;
    font-size: 7rem;
    font-style: bold;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    
}

/*DEGRADADO*/
.Creadores h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #fff;
    transition: width 0.3s ease;
    background: linear-gradient(to right, #fff, #1f1f1f);
}

.Creadores h2:hover::before{
    width: 100%;
}

h2{
    display: flex;
    position: relative;
    margin:0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    justify-self: center;
    align-self: center;
}

.imagen-texto{
    display: flex;
    height: 100%;
    max-height: 1200px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 200px;
    position: relative;
    z-index: 10;
}

.text{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p{
    text-align:justify;
    width: 100%;
    max-width: 350px;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif ;
}

.text:last-of-type{
    margin-bottom: 50px;
}

#perf{
    display: block;
    position: relative;
    width: 350px;
    bottom: 20%;
    margin-left: 200px;
}

hr{
    width: 80%;
    position: relative;
    z-index: 10;
}

#perfumes{
    width: 100%;
    max-width: 600px;
    margin-left: 200px;
}


.boton{
    display: flex;
    justify-self: center;
    align-self: center;
}

 
button {
    justify-self: center;
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

button a{
    color: #fff;
    text-decoration: none;
}