header{
    display: flex;
    background-color:#ACABAB;
    height: 105px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu{  
    display: inline-block;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu span{ /*Esto hace las tres rayitas*/
    display: block;
    height: 4px;
    background: black;
    margin: 5px 0;
    border-radius: 2px;
}

#logo{
    margin: 0 auto;       
    max-width: 400px;
    height: auto;
    display: block;
}



.buscar{
    display: flex;
    position: relative;
    align-items: center;
}

.buscar img {
    width: 40px;
    height: 40px;
}

.buscar input{
    
    width: 0px;
    height: 40px;
    padding: 5px;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    background-color: rgb(139, 139, 139);
    margin-left: 5px;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    
}

.buscar:hover input{
    border:2px solid black;
    width: 200px;
    height: 40px;
    opacity: 1;
    background-color: rgb(139, 139, 139);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
}

.buscar input:focus{/*saca el recuadro cuando clickeas para escibir en el buscador*/
    outline: none;
}

.carrito{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

body{
    background-color: #ACABAB;
}

main{
    background-color:#ACABAB;
    
}

/*.principal es la parte de la imagen grande con la frase en blanco*/
.principal{
    position: relative;
    
}

.principal img {
  height: 800px;
  width:100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.principal h1 {
  position: absolute; 
  top: 60%;
  margin-left: 20px;
  color: white;       
  font-size: 3rem;    
  text-shadow: 2px 2px 5px black; 
  font-family: 'Times New Roman', Times, serif;
}


/*Todo lo que diga .PERFUMES es la estructura de la caja y todo lo que hay dentro, NO INCLUYE LOS COLORES DE CADA CAJA*/
.PERFUMES{
  position:relative;
  display: inline-block;      
  vertical-align: top;
  width: 300px;              
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;           
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}
.PERFUMES img{
  display: block;
  width: 100%;
  height: 380px;
  object-fit: contain;
  padding: 16px 12px 8px;
}

.PERFUMES h3 {
  color: white;
  text-align: left;
  font-size:x-large;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.PERFUMES .compra {
  position: absolute;
  bottom: 15px;
  left: 77%;
  transform: translate(-50%, 20px); 
  background: none;
  outline: none;
  border: none;
  color: #fff;
  margin: 0;
  padding: 7px 9px;
  font-weight: bold;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.PERFUMES .detalles{
  position:absolute;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
  bottom: 10px;
  margin-left: 10px;
}

.PERFUMES:hover h3 {
  transform: translateY(-40px);
}

.PERFUMES:hover .compra{
  opacity: 1;
  transform: translate(-50%,0);
  border: 1px solid white;
}

.PERFUMES:hover .detalles{
  opacity: 1;
  border: none;
}

.PERFUMES .compra:hover{
  background-color: #fff;
  color: black;
}

/*Aca esta el color de cada perfume*/

#Perf1{
  background-color: #3f3c5f;
}


#Perf2{
  background-color: #274aa3;
}

#Perf3{
  background-color: #207c5f;
}

#Perf4{
  background-color: #CEBB80;
}

#Perf5{
  background-color: #7a7a7a;
}

#Perf6{
  background-color: #52392A;
}

#Perf7{
  background-color: #000;
}