header{
    display: flex;
    background-color:#ACABAB;
    height: 105px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu{  
    display: inline-block;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu span{ /*Esto hace las tres rayitas*/
    display: block;
    height: 4px;
    background: black;
    margin: 5px 0;
    border-radius: 2px;
}

#logo{
    margin: 0 auto;       
    max-width: 400px;
    height: auto;
    display: block;
}



.buscar{
    display: flex;
    position: relative;
    align-items: center;
}

.buscar img {
    width: 40px;
    height: 40px;
}

.buscar input{
    
    width: 0px;
    height: 40px;
    padding: 5px;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    background-color: rgb(139, 139, 139);
    margin-left: 5px;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    
}

.buscar:hover input{
    border:2px solid black;
    width: 200px;
    height: 40px;
    opacity: 1;
    background-color: rgb(139, 139, 139);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
}

.buscar input:focus{/*saca el recuadro cuando clickeas para escibir en el buscador*/
    outline: none;
}

.carrito{
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

body{
    background-color: #ACABAB;
}

main{
    background-color:#ACABAB;
    
}

.principal{
    position: relative;
    
}

.principal img {
  height: 800px;
  width:100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.principal h1 {
  position: absolute; 
  top: 60%;          
  left: 20%;         
  transform: translate(-50%, -50%); 
  color: white;       
  font-size: 3rem;    
  text-shadow: 2px 2px 5px black; 
  font-family: 'Times New Roman', Times, serif;
}


.PERFUMES{
  display: inline-block;      
  vertical-align: top;
  width: 300px;              
  margin: 35px;
  border: 1px solid #1f2a4a;
  border-radius: 6px;
  overflow: hidden;           
  background-color: #29356b;  
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.PERFUMES img{
  display: block;
  width: 100%;
  height: 280px;        
  object-fit: contain;        
  padding: 16px 12px 8px;   
  background-color: #29356b;  
}


.PERFUMES h3{
  margin: 0;
  padding: 12px 10px;
  background-color: #bdbdbd;  
  color: #111;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: .4px;
  border-top: 1px solid #9c9c9c;
}

.PERFUMES p{
  float: left;               
  width: 50%;                 
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  background-color: #a6a6a6;  
  color: #000;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid #9c9c9c;
  cursor: pointer;
  transition: background .25s, color .25s, transform .05s;
}

.PERFUMES p + p{
  border-left: 1px solid #9c9c9c;
}

.PERFUMES p:hover{
  background-color: #29356b; 
  color: #fff;
}

.PERFUMES p:active{
  transform: translateY(1px);
}

.PERFUMES:hover{
  box-shadow: 0 6px 18px #29356b;
}



