body{
    background-color: #000000;
    display: flex;
    justify-content: end;
    height: 100vh;
}

img{
    width:30vw ;
    height: 70vh;
    margin: 100px;
}

main{
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
     align-items: end;
    justify-content: center;
}

form {
    align-self: center;
    height: 35vh;
    max-width: 30vw;
    width: 100%;
    display: flex;
}


.container{
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}


.container input{
    width: 100%;
    height: 25px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227); 
}

.container input:focus{
    outline: none;
}


.container button{

    margin: 10px;
}

.container button a{
    color: #000000;
}

#IniSes{/*Botono de Iniciar Sesion*/
    border: none;
    background-color: rgb(238, 236, 236);
    display: inline;
    
    width: 100px;
    
}

#CreCue{/*Boton de Crear Cuenta*/
    width: 150px;
}

#CreCue a{
    text-decoration: none;
}








