body{
    background-color: #ffffff;
    display: flex;
    justify-content: end;
    height: 100vh;
}

img{
    width:30vw ;
    height: 70vh;
    margin: 100px;
}

main{
    background-color: rgb(0, 0, 0);
    width: 50%;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
     align-items: end;
    justify-content: center;
}

form {
    align-self: center;
    height: 35vh;
    max-width: 30vw;
    width: 100%;
    display: flex;
    color: white;
}


.container{
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}
.container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container input{
    width: 100%;
    height: 25px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(228, 227, 227); 
}

.container input:focus{
    outline: none;
}


.container button{
    margin-top: 10px;
    margin-left: 10px;
    height: 25px;
}

.container button a{
    color: #000000;
}

#IniSes{/*Botono de Iniciar Sesion*/
    background-color: rgb(128, 126, 126);
    border-radius: 5px;
    width: 150px;
}

#IniSes a {
    text-decoration: none;
}

#CreCue{/*Boton de Crear Cuenta*/
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(128, 126, 126);
}
