body{
    background-color: #4068e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    background-color: rgb(58, 48, 197);
    width: 50%;
    padding: 30px;
}

